{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="https://www.akpsipurdue.com/" target="_blank">Alpha Kappa Psi</a></li>
                <li><a href="{% url 'alumni_list' %}">Alumni List</a></li>
                <li><a href="{% url 'alumni_add' %}">Add Alumni</a></li>
                <li><a href="{% url 'alumni_filter' %}">Filter Alumni</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Alpha Kappa Psi - Pi Omega Chapter</p>
    </footer>
</body>
</html>
